.mood-input {
    text-align: center;
    margin-top: 20px;
}

#moodText {
    width: 80%;
    max-width: 500px;
    height: 100px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    resize: none;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4f4f9a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8e8edf;
}
